%section.social_block
  %header.social_buttons
    = link_to(image_tag(asset_path("facebook.png")), omniauth_authorize_path(current_user, :facebook), class: "span3 no-margin-left")
    = link_to(image_tag(asset_path("twitter.png")), omniauth_authorize_path(current_user, :twitter), class: "span3 no-margin-left")
    = link_to(image_tag(asset_path("linkedin.png")), omniauth_authorize_path(current_user, :linkedin), class: "span3 no-margin-left")