body.span12 {
  margin: 0px auto;
  float: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  min-height: 500px;
}
.clear {
  clear: both;
}
.no-margin {
  margin: 0px;
}
.no-margin-left {
  margin-left: 0px;
}